*{
    padding: 0;
    margin: 0;
	font-family: sans-serif;
}
body{
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,82,221,1) 49%, rgba(0,212,255,1) 100%);
}
nav{
	color: #fff;
	background: rgb(0,212,255);
	background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(84,84,176,1) 0%, rgba(2,0,36,1) 99%);
	display: flex;
	justify-content: space-between;
	min-height: 0.5vw;
	align-items: center;
	border-bottom: 2px solid aliceblue;
	padding: 0px 5% 0px 5%;
	font-size: 1vw;
  }

nav .left img{
	width: 10vw;
	height: 5vw;
	border-radius: 50%;
}
nav a{
	text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
nav ul li  {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
	display: flex;
	align-items: center;
    text-decoration: none;
    color: #fff;	
	padding: 0.8vw;
	border-radius: 10%;
    font-weight: bold;
}
nav ul li a:hover {
	text-decoration: none;
	background: #fff;
    color: navy;
    transition: .4s;
}
.service {
    background: transparent;
    width: 100%;
    padding: 100px 0;
    color: #fff;
}
.title h2 {
    color: #fff;
    font-size: 75px;
    width: 11130px;
    text-align: center;
    margin: auto;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(2,0,36);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #20b2aa;
}
h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;

}
.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}
.card .buttom {
    background-color: #20b2aa;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card .buttom:hover {
    background-color: transparent;
    border: 2px solid #20b2aa;
    cursor: pointer;
}